.completed-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #bbc1c1;

    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #041421;
    border-radius: 5px;
    p {
        text-decoration: line-through;
        opacity: 0.7;
    }
    .completed-card-btns {
        .btn {
            padding: 5px;
            border-radius: 3px;
            font-size: 1.1rem;

            cursor: pointer;
        }
        .delete {
            background: #d0d6d6;
            border: none;
        }
        .complete {
            margin-left: 5px;
            background: #041421;
            border: none;
            color: #bbc1c1;
        }
    }
}